In [3]:
import matplotlib.pyplot as plt # graphics
import pandas as pd # data management
import numpy as np  # numerical operations

In [103]:
class FinanceManager:
  def __init__(self,inputs):
    self.inputs=inputs
    print(f"Welcome {inputs['Username']} to the finance manager app!"+'\n')
    print('------------'+'\n')

  #always run 
    self.readdb()
#read database 
  def readdb(self):
    self.data=pd.read_csv(self.inputs['data_route'])

  #save database  
  def savedb(self):
    self.data.to_csv(self.inputs['data_route'],index=False)

  #add log
  def addlog(self,log):
    self.data.loc[len(self.data)]=log
    self.savedb()

  #calculate compound interest
  def compound(self,initial,rate,time):
    return initial*(1+rate/100)**time

In [104]:
inputs = {
    "Username": 'Aaron',
    "data_route": '../data/finance.csv'
}

In [105]:
fm=FinanceManager(inputs)

Welcome Aaron to the finance manager app!

------------

In [107]:
fm.data

,Unnamed: 0.1,Unnamed: 0,DATE,AMOUNT,CATEGORY,SUBCATEGORY,COMMENT
0,0,0,6/17/2024,1000,food,breakfast,Yogurt with cereal
1,1,0,6/17/2024,1000,food,breakfast,Yogurt with donuts

In [110]:
fm.addlog(['6/17/2024',1000,'food','breakfast','Yogurt with donuts'])

ValueError: cannot set a row with mismatched columns